html,body {
  height:100%;
}

.prompt {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 70px;
    line-height: 100px;
}

h1 {
  font-family: Arial,sans-serif
  font-size:80px;
  color:#000000;
}

.lead {
  color:#DDCCEE;
}

 a:hover,.btn:hover {
 color: #000000 !important; 
 color: #000000;
  background-color: black;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color: #66FF99;
  /*background-color:#110022;*/
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

#good, #bad{
  display: inline-block;
  width:100px;
  height: 100px;
}

.v-center {
  margin-top:7%;
}



#foodThumnail {
  width:200px;
  height:200px;
}
/*  
img {
  max-height: 60px;
}*/

.btn nav a {
  background-color: #000000;
  color: #000000
}

.btn-success{
  text-align:left;
}

a{
  margin-right: 40px;
   background-color: #000000;
   color: #000000;
}

.john {
  width: 100px;
  height: 50px;
}

.johny {
  background-color: black;
  padding: 0px 0px 0px 0px;
  
}